Port 2222
AddressFamily inet
ListenAddress 0.0.0.0
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key 
HostKey /etc/ssh/ssh_host_ed25519_key
PermitRootLogin prohibit-password
PasswordAuthentication yes
ChallengeResponseAuthentication no
PrintMotd yes
Subsystem sftp /usr/lib/openssh/sftp-server
LogLevel VERBOSE